.carousel-item{
    height: 85vh;
}
/* .bg-items-1{
    width: 100%;
    height:400px;
}
.container-fluid .bg-items-1{
    background-image: url(../image/mcbook/pic-1\(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */